* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.8s;

}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

section {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}

h1 {
    font: {
        size: 45px;
        weight: normal;
    }
    
}

h2 {
    font: {
        size: 2.5em;
        weight: normal;
        color: #fff;
    }
}

h3 {
    font: {
        size: 1.5em;
        weight: normal;
        color: #fff;
    }
}

h4 {
    font: {
        size: 1em;
        weight: normal;
        color: #fff;
        family: $eng_title_font; 
    }
}


p {
    font-size: 0.8em;
    line-height: 1.8em;
}

hr {
    color: #fff;
}


header,
main, 
footer {
    display: block;
}