* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.8s;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 1.9em;
  font-weight: normal;
  font-color: #fff;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  font-color: #fff;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
  font-color: #fff;
}

p {
  font-size: 1em;
  line-height: 2em;
}

hr {
  color: #fff;
}

header,
main,
footer {
  display: block;
}