* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.8s;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  font-family: "SCoreDream";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 1.9em;
  font-weight: normal;
  font-color: #fff;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  font-color: #fff;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

hr {
  color: #fff;
}

header,
main,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1380px;
    padding: 0 10px;
  }
}

body {
  background-color: #080e2b;
}

section {
  padding-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  section {
    padding: 200px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

header {
  width: 100%;
}
header #header {
  display: flex;
  justify-content: space-between;
}
header #header .logo {
  transform: translateY(-50%);
  padding-top: 100px;
  margin-left: 20px;
  margin-bottom: -50px;
}
@media screen and (min-width: 1024px) {
  header #header .logo {
    left: 41px;
  }
}
header #header .logo a:hover {
  opacity: 0.5;
}
header #header .git {
  padding-top: 25px;
  margin-right: 20px;
}
header #header .git a:hover {
  opacity: 0.5;
}
header #header .git a img {
  width: 50px;
}

main .mokup img {
  margin-top: 20px;
  width: 100%;
  left: 35%;
}
@media screen and (min-width: 1024px) {
  main .mokup img {
    margin-top: -50px;
    width: 45%;
    margin-left: 25%;
  }
}
main #grid_system .grid_info {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  main #grid_system .grid_info {
    display: flex;
    justify-content: space-between;
  }
}
main #grid_system .grid_info img {
  width: 100%;
  border: 2px solid #fff;
}
@media screen and (min-width: 1024px) {
  main #grid_system .grid_info img {
    width: 60%;
  }
}
main #grid_system .info {
  margin-top: 20px;
}
main #grid_system .image {
  margin-top: 80px;
  left: 20%;
}
@media screen and (min-width: 1024px) {
  main #grid_system .image {
    position: absolute;
    top: 390px;
    left: 930px;
  }
}
main #grid_system .image img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main #grid_system .image img {
    width: 100%;
  }
}
main .color_info img {
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  main .color_info img {
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1024px) {
  main .typography_info .font {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
}
main .typography_info .font .watermelon {
  margin-bottom: 70px;
}
main .typography_info .font .watermelon img {
  width: 70%;
}
@media screen and (min-width: 1024px) {
  main .typography_info .font .watermelon img {
    width: 100%;
  }
}
main .typography_info .font .maruburi img {
  width: 70%;
}
@media screen and (min-width: 1024px) {
  main .typography_info .font .maruburi img {
    width: 100%;
  }
}
main #main_page .title {
  margin-bottom: 30px;
}
main #main_page .main_info img {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  main #main_page .main_info img {
    width: 45%;
    margin-left: 25%;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1024px) {
  main #main_page .main_info .content {
    margin-left: 25%;
  }
}
main #full_view img {
  width: 100%;
  border: 2px solid #fff;
}

footer p {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: calc(0.2em + 16px);
  font-family: "myriad Pro Regular";
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer p {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 36px;
  }
}
footer .fixed-menu {
  position: fixed;
  right: 10px;
  bottom: 5px;
}
@media screen and (min-width: 1024px) {
  footer .fixed-menu {
    right: 90px;
    bottom: 50px;
  }
}
footer .fixed-menu img {
  width: 40px;
}
@media screen and (min-width: 1024px) {
  footer .fixed-menu img {
    width: 48px;
  }
}
footer .fixed-menu img:hover {
  opacity: 0.5;
}